<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center">To-Do List</h2>
            <form>
                <div class="form-group">
                    <label for="taskName">Task Name, What time would you like this complete this task by?</label>
                    <input type="text" class="form-control" id="taskName" placeholder="Enter task name">
                </div>
                <div class="form-group">
                    <label for="taskDescription">Task Description:</label>
                    <textarea class="form-control" id="taskDescription" rows="3"
                        placeholder="Enter task description"></textarea>
                </div>
                <button type="button" class="btn btn-primary" id="addTask">Add To-Do</button>
                <a href="#" class="btn btn-secondary ml-2" id="goBack">Go Back</a>
            </form>
        </div>
    </div>
    <script src="/js/input.js"></script>
</div>
